@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  font-family: "Montserrat", sans-serif;
}

.css-1f8o8r6-MuiPaper-root-MuiTableContainer-root {
  box-shadow: none !important;
  border-radius: 0 !important;
}

.removeBorder.css-1ff6gxb-MuiTableCell-root {
  border-bottom: none !important;
}

.removeBorder.css-1ws11rh-MuiTableCell-root {
  border-bottom: none !important;
}

.centerModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
